<%= @composer.gets(@cv, "presentation.titles.experiences") |> @composer.render(:h4) %>
<%= for experience <- Enum.reverse(@data) do %>
  <div class="experience">
    <%= render "experience.html", composer: @composer, experience: experience %>
  </div>
<% end %>
