
<header class="header">
  <div class="header-left">
    <%= @composer.render(@cv, "header_left.md") %>
  </div>
  <div class="header-right">
    <%= @composer.render(@cv, "header_right.md") %>
  </div>
</header>
