/* Base Setup */
a {
  text-decoration: none;
  color: blue;
}

body {
  color: black;
  font-family:'Helvetica', 'Arial', sans-serif;
  font-size: 12pt;
}

h4 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
    position: relative;
    width: 210mm;
    height: 630mm;
}

.education-institute {
  display: inline-block;
  font-weight: bold;
}
.education-period {
  display: inline-block;
  font-size: 14pt;
  font-weight: bold;
}
.education-title {
  display: inline-block;
  float: right;
  font-size: 14pt;
  font-weight: bold;
}
.education-major {
  display: inline-block;
  float: right;
}
.experience-desc {
  margin: 0 0 15px 0;
}
.experience-explicit-techs {
  margin: 0 0 15px 0;
}

dt {
  font-weight: bold;
  font-style: italic;
}

div.period span.period {
  margin-left: 1em;
}

.geekometer {
  font-family: Arial Narrow;
  margin: 0 0 0 2rem;
  text-align: center;
  width: 80%;
}
.geekometer span {
  margin: 0 5px 0 5px;
}

.header, .section {
  display: block;
}
.header-left {
  display: inline-block;
  /* padding: 10px 0 0 30px; */
}
.header-right {
  display: inline-block;
  float: right;
  /* padding: 0 30px 0 0; */
}

.hobby {
  margin-bottom: 10px;
}

.hobby-description {
  font-size: 14pt;
}
.hobby-activities {
  margin-left: 3rem;
}

.languages {
  margin: 0 0 0 2rem;
}

.job-title {
  display: inline-block;
  font-size: 16pt;
  font-weight: bold;
}

.oss-name {
  display: inline-block;
  font-size: 14pt;
  font-weight: bold;
}
.oss-period {
  display: inline-block;
  float: right;
  font-weight: bold;
}
.oss-project-title {
  margin-top: 1rem;
}
.oss-role {
  clear: top;
  display: inline-block;
  font-style: italic;
}
.oss-url {
  display: inline-block;
  float: right;
}

.period {
  display: inline-block;
  float: right;
  font-size: 16pt;
  font-weight: bold;
}

.profile {
  font-size: 14pt;
  font-weight: 200;
}

li.email:before {
  content: "\2709 ";
  font-size: 16pt;
}
li.phone:before {
  content: "\260e ";
  /* content: "\1f4f1 "; */
}
li.profile:before {
  content: "\27a4 ";
  /* content: "\1f600 "; */
}
li.www:before {
  content: "\1f310 ";
  font-size: 10pt;
  /* content: "\1f600 "; */
}

.subtitle {
  font-size: 16pt;
  font-weight: 400;
}
.title {
  font-size: 20pt;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

#info {
  position: absolute;
  top: 100px;
  left: 300px;
  border: 1px solid #dddddd;
  padding: 30px;
  font-color: #dddddd;
  -webkit-border-radius: 12px;
border-radius: 12px;
}
